meta(
    charset='utf-8'
)
meta(
    http-equiv="X-UA-Compatible"
    content="chrome=1"
)
meta(
    name="description"
    content="devaneio.GitHub.io : Devaneios Sóbrios - Blog"
)
link(
    rel="stylesheet" 
    type="text/css" 
    media="screen" 
    href="stylesheets/stylesheet.css"
)
link(
    href='http://fonts.googleapis.com/css?family=Indie+Flower'
    rel='stylesheet' 
    type='text/css'
)
title='Devaneios Sóbrios - Blog'
